@{
    ViewData["Title"] = "Project";


}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
 

<p> <strong>Autor:</strong> @ViewData["name"]</p>

<address>
    <strong>More information:</strong> @ViewData["email"]
</address>

