@{
    ViewData["Title"] = "Notes: Paginas Razor aceitam codigo C# entre @{}";
}

<h3>@ViewData["Title"]</h3>
<h3>@ViewData["NOTES"]</h3>
<h3>@ViewData["Message"]</h3>

<p>...............................TESTE..............................</p>

<h4>@ViewData["xuxu"]</h4>